{% extends "baseAdmin.html.twig" %}

{% block title %}category{% endblock %}

{% block body %}

    <h1 class="pb-5">Liste des categories</h1>

    <table class="table table-hover table-sm texxt-center align-middle">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
            {% for category in categorys|reverse %}
                <tr>
                    <td>{{ loop.revindex }}</td>
                    <td><img src="{{ asset('img/category/' ~ category.img1) }}" alt="image principale du jeu {{ category.name }}" class="pe-3"> {{ category.name }}</td>
                    {# <td>{{ category.price|number_format(2, ',', ' ') }} €</td> #}
                    <td></td>
                    {# <td>{{ category.category.descripton }}</td> #}
                    <td>
                        <a href="{{ path('category_update', {'id': category.id}) }}"><i class="bi bi-pencil-square text-primary"></i></a>
                        <a href="{{ path('category_delete', {'id': category.id}) }}"><i class="bi bi-trash3 text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end mt-4">
        <a href="{{ path('category_create') }}" class="btn btn-success">Ajouter un category</a>
    </div>
    
{% endblock %}
