{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categroy.css') }}">
{% endblock %}

{% block h1 %}Category{% endblock %}

{% block body %}
    
    {% for category in categorys %}
        <div class="col-md-6 col-lg-4 col-xl-3 p-3">
            <div class="card">
                <img src="{{ asset('img/categroy/' ~ category.img1) }}" class="card-img-top p-3" alt="image principale du jeu {{ category.name }}">
                {% if category.createdAt|date('Y-m-d') >= "now"|date_modify("-20 day")|date('Y-m-d') %}
                    <span class="new_product">Nouveauté</span>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>

                <div class="card-body text-center">
                    <a href="{{ path('product_show', {'slug': category.slug}) }}" class="card-link btn btn-outline-primary">Détails</a>
                    <a href="#" class="card-link btn btn-{{ category.quantity != 0 ? 'success' : 'danger disabled' }}"><i class="bi bi-cart-plus-fill"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}
