{% extends "base.html.twig" %}

{% block description %}{{ categroy.abstract|u.truncate(157, '...') }}{% endblock %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/category.css') }}">
{% endblock %}

{% block h1 %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="col-md-8 col-lg-4 offset-md-2 offset-lg-1">
        <div class="row mb-4">
            <img src="{{ asset('img/category/' ~ category.img1) }}" alt="photo principale du jeu {{ category.name }}" class="w-100">
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{{ asset('img/category/' ~ category.img1) }}" alt="photo secondaire du jeu {{ category.name }}" class="w-100">
            </div>
            {# {% if category.img2 != null %}
                <div class="col-4">
                    <img src="{{ asset('img/category/' ~ category.img2) }}" alt="photo secondaire du jeu {{ category.name }}" class="w-100">
                </div>
            {% endif %}
            {% if category.img3 != null %}
                <div class="col-4">
                    <img src="{{ asset('img/category/' ~ category.img3) }}" alt="photo secondaire du jeu {{ category.name }}" class="w-100">
                </div>
            {% endif %} #}
        </div>
    </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 col-lg-10 offset-md-2 offset-lg-1">
            <h2>Description</h2>
            <p>{{ category.description }}</p>
        </div>
    </div>

{% endblock %}
